body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  line-height: 1.8;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
}

p {
  color: #8f8f8f;
}

/* Nav Bar */

.navbar {
  padding: 0 0 4.0rem;
}

/* .navbar-nav {
padding-right: 50rem;
} */

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";

}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

/* Download button */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title image */
.title-image {
  width: 80%;
  transform: rotate(25deg);
  margin: 5% 10%;
}

/* Feature Section */
#features {
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-images {
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 10%;
}
